<h2> Log In </h2>

<form method="post" action="/check-login">
  <label for="email-input"> Email </label>
  <input id="email-input" type="email" name="emailValue">
  <br>

  <label for="password-input"> Password </label>
  <input id="password-input" type="password" name="passwordValue">
  <br>

  <button> Log In </button>

</form>
