<h2> Pizza-related Results </h2>

<ol>
  <li> <a href="http://nizaroni.pizza"> nizaroni.pizza </a> </li>
  <li> <a href="http://pizza.com"> pizza.com </a> </li>
  <li> <a href="https://www.dominos.com"> dominos.com </a> </li>
</ol>

<img src="/images/pizza.gif">
