<h2> Your search results </h2>

<p> This is step #2 of a form submission process
    (receiving the information submitted by the user).
</p>

<p> You searched for <i><%=theSearch%></i>. </p>


<ol>
  <li> <a href="http://nizaroni.pizza"> nizaroni.pizza </a> </li>
  <li> <a href="http://pizza.com"> pizza.com </a> </li>
  <li> <a href="https://www.dominos.com"> dominos.com </a> </li>
</ol>
