<h2> Search </h2>


<!-- method: get or post depending on what to do
          action: URL addres to submit to -->
<form method="get" action="/results">

  <input id="search-term-input" type="search" name="searchTerm">
  <label for="search-term-input"> Search the Web </label>

  <br>

  <input id="interest-box" type="checkbox" name="interestThing">
  <label for="interest-box"> Interested in Pizza?</label>

  <br>

  <button> Search NOW! </button>

  <!-- <input type="submit" value="Search NOW!"> -->
  <!-- this does the same as button search now -->

</form>
